<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">İşletmeler</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th> # </th>
              <th> İşletme Adı </th>
              <th> Kategori </th>
              <th> Şehir </th>
              <th> Düzenle </th>
              <th> Sil </th>
            </tr>
          </thead>
          <tbody>
            <% for( let index = 0; index < shopdata.length; index++ ) { %>
              <tr>
                <td> <%= index+1 %> </td>
                <td> <%= shopdata[index].IsletmeAdi %> </td>
                <td><%= shopdata[index].Kategori %> </td>
                <td> <%= shopdata[index].Sehir %> </td>
                <td> Detay </td>
                <td>
                  <button onclick="deleteShop('<%= shopdata[index]._id %>')" class="btn btn-danger">Sil</button>
              </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    function deleteShop(shopId) {
        if (confirm("Bu işletmeyi silmek istediğinize emin misiniz?")) {
            fetch('list-industrial-shop/' + shopId, {
                method: 'DELETE',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('İşletme silinirken bir hata oluştu');
                }
                return response.text();
            })
            .then(data => {
                console.log(data);
                // İşletme başarıyla silindiğinde yapılacak işlemler buraya eklenebilir
                // Örneğin, tabloyu yeniden yüklemek gibi
            })
            .catch(error => {
                console.error('İşletme silinirken bir hata oluştu:', error);
                // Hata durumunda kullanıcıya bilgi vermek için burada bir işlem yapılabilir
            });
        }
    }
</script>