<!doctype html>
<html lang="en">
    <%- include('../user-partials/head') %>
<body>
    <div class="page sub-page">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="hero">
            <div class="hero-wrapper">
                <!--============ Secondary Navigation ===============================================================-->
                <!--============ End Secondary Navigation ===========================================================-->
                <!--============ Main Navigation ====================================================================-->
                <div class="main-navigation">
                    <div class="container">
                        <%- include('../user-partials/navbar') %> 
                        <!--end navbar-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                            <li class="breadcrumb-item active"><a href="#">Detay</a></li>                           
                        </ol>
                        <!--end breadcrumb-->
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Main Navigation ================================================================-->
                <!--============ Page Title =========================================================================-->
                <div class="page-title">
                    <div class="container clearfix">
                        <div class="float-left float-xs-none">
                            <h1><%= shopdata.IsletmeAdi %>                               
                            </h1>
                            <h4 class="location">
                                <a href="#"><%= shopdata.Adres %></a>
                            </h4>
                        </div>
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Page Title =====================================================================-->
                <div class="background"></div>
                <!--end background-->
            </div>
            <!--end hero-wrapper-->
        </section>
        <!--end hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row">
                        <!--============ Listing Detail =============================================================-->
                        <div class="col-md-9">
                            <!--Gallery Carousel-->
                            <section>
                                <h2>Galeri</h2>
                                <!--end section-title-->
                                <div class="gallery-carousel owl-carousel">
                                    <% shopdata.resimler.forEach((resim, index) => { %>
                                        <img src="/<%= resim.dosyaYolu.replace(/\\/g, '/') %>" alt="" data-hash="<%= index + 1 %>">
                                    <% }); %>
                                </div>
                                <div class="gallery-carousel-thumbs owl-carousel">
                                    <% shopdata.resimler.forEach((resim, index) => { %>
                                        <a href="#<%= index + 1 %>" class="owl-thumb active-thumb background-image">
                                            <img src="/<%= resim.dosyaYolu.replace(/\\/g, '/') %>" alt="">
                                        </a>
                                    <% }); %>
                                </div>
                            </section>
                            <!--end Gallery Carousel-->
                            <!--Description-->
                            <section>
                                <h2>Açıklama</h2>
                                <p>
                                   <%= shopdata.Aciklama %>
                                </p>
                            </section>
                            <!--end Description-->
                            <!--Details & Location-->
                            <section>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>Detay</h2>
                                        <dl>
                                            <dt>Kategori</dt>
                                            <dd><%= shopdata.Kategori %></dd>
                                            <dt>Kaydolma Tarihi</dt>
                                            <dd>05.04.2017</dd>
                                            <dt>Adres</dt>
                                            <dd><%= shopdata.Adres %></dd>
                                            <dt>İletişim Bilgileri</dt>
                                            <dd><%= shopdata.IletisimBilgileri %></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-8">
                                        <h2>Lokasyon</h2>
                                        <div class="map height-300px" id="map-small"></div>
                                    </div>
                                </div>
                            </section>
                            <!--end Details and Locations-->
                            <!--Features-->
                            <!--end Features-->
                            <!--Author-->
                            <section>
                                <h2>Yorumlar</h2>
                                <div class="comments">
                                    <% shopdata.Yorumlar.forEach(function(yorum) { %>
                                    <div class="comment">
                                        <div class="author">
                                            <a href="#" class="author-image">
                                                <div class="background-image">
                                                    <img src="/userstatic/assets/img/profileimg.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="author-description">
                                                <h3><%= yorum.yazar.name %></h3>
                                                <div class="meta">
                                                    <span><%= yorum.tarih %></span>
                                                </div>
                                                <!--end meta-->
                                                <p>
                                                    <%= yorum.icerik %>
                                                </p>
                                            </div>
                                            <!--end author-description-->
                                        </div>
                                        <!--end author-->
                                    </div>
                                    <% }); %>
                                </div>
                                <!--end comments-->
                            </section>
                            
                            <section>
                                <h2>Yorum Ekle</h2>
                                <form action="/user/shop-detail-page/<%= shopdata.slug %>" method="post" class="form">
                                    <input type="hidden" name="postId" value="<%= shopdata.slug %>">
                                    <div class="row">      
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="comment" class="col-form-label">Yorumun</label>
                                                <textarea name="icerik" id="comment" class="form-control" rows="4" placeholder="Yorum"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right">Gönder</button>
                                </form>                                
                                <!--end form-->
                            </section>
                            <!--End Author-->
                        </div>
                        <!--============ End Listing Detail =========================================================-->
                        <!--============ Sidebar ====================================================================-->
                        <div class="col-md-3">
                            <aside class="sidebar">
                                <section>
                                    <h2>İşletmeler</h2>
                                    <div class="items compact">
                                        <% for (let index = 0; index < 4 && index < shopdataList.length; index++) { %>
                                            <div class="item">
                                                <div class="wrapper">
                                                    <div class="image">
                                                        <h3>
                                                            <a class="tag category"><%= shopdataList[index].Kategori %></a>
                                                            <a href="/user/shop-detail-page/<%= shopdataList[index].slug %>" class="title"><%= shopdataList[index].IsletmeAdi %></a>
                                                        </h3>
                                                        <a href="single-listing-1.html" class="image-wrapper background-image">
                                                            <img src="/<%= shopdataList[index].resimler[0].dosyaYolu.replace(/\\/g, '/') %>" alt="">
                                                        </a>
                                                    </div>
                                                    <!--end image-->
                                                    <h4 class="location">
                                                        <a ><%= shopdataList[index].Adres %></a>
                                                    </h4>
                                                    
                                                    <div class="meta">
                                                        <figure>
                                                            <i class="fa fa-calendar-o"></i><%= shopdataList[index].olusturmaTarihi %>
                                                        </figure>
                                                        <figure>
                                                            <a>
                                                                <i class="fa fa-user"></i><%= shopdataList[index].IletisimBilgileri %>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <!--end meta-->
                                                    
                                                </div>
                                            </div>
                                            <% } %>
                                        <!--end item-->                                                                             
                                    </div>

                                </section>
                            </aside>
                        </div>
                        <!--============ End Sidebar ================================================================-->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
        <!--end content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <%- include('../user-partials/footer') %>
        <!--end footer-->
    </div>
    <!--end page-->
    
    <%- include('../user-partials/script') %>

    <script>
        var latitude = 51.511971;
        var longitude = -0.137597;
        var markerImage = "/userstatic/assets/img/map-marker.png";
        var mapTheme = "light";
        var mapElement = "map-small";
        simpleMap(latitude, longitude, markerImage, mapTheme, mapElement);
    </script>

</body>
</html>
