<!doctype html>
<html lang="en">
    <%- include('../user-partials/head') %>
<body>
    <div class="page sub-page">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="hero">
            <div class="hero-wrapper">
                <!--============ Secondary Navigation ===============================================================-->
                <!--============ End Secondary Navigation ===========================================================-->
                <!--============ Main Navigation ====================================================================-->
                <div class="main-navigation">
                    <div class="container">
                        <%- include('../user-partials/navbar') %> 
                        <!--end navbar-->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                            <li class="breadcrumb-item active"><a href="#">Detay</a></li>                           
                        </ol>
                        <!--end breadcrumb-->
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Main Navigation ================================================================-->
                <!--============ Page Title =========================================================================-->
                <div class="page-title">
                    <div class="container clearfix">
                        <div class="float-left float-xs-none">
                            <h1><%= shopdata.IsletmeAdi %>                               
                            </h1>
                            <h4 class="location">
                                <a href="#"><%= shopdata.Adres %></a>
                            </h4>
                        </div>
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Page Title =====================================================================-->
                <div class="background"></div>
                <!--end background-->
            </div>
            <!--end hero-wrapper-->
        </section>
        <!--end hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row">
                        <!--============ Listing Detail =============================================================-->
                        <div class="col-md-9">
                            <!--Gallery Carousel-->
                            <section>
                                <h2>Galeri</h2>
                                <!--end section-title-->
                                <div class="gallery-carousel owl-carousel">
                                    <% shopdata.resimler.forEach((resim, index) => { %>
                                        <img src="/<%= resim.dosyaYolu.replace(/\\/g, '/') %>" alt="" data-hash="<%= index + 1 %>">
                                    <% }); %>
                                </div>
                                <div class="gallery-carousel-thumbs owl-carousel">
                                    <% shopdata.resimler.forEach((resim, index) => { %>
                                        <a href="#<%= index + 1 %>" class="owl-thumb active-thumb background-image">
                                            <img src="/<%= resim.dosyaYolu.replace(/\\/g, '/') %>" alt="">
                                        </a>
                                    <% }); %>
                                </div>
                            </section>
                            <!--end Gallery Carousel-->
                            <!--Description-->
                            <section>
                                <h2>Açıklama</h2>
                                <p>
                                   <%= shopdata.Aciklama %>
                                </p>
                            </section>
                            <!--end Description-->
                            <!--Details & Location-->
                            <section>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>Detay</h2>
                                        <dl>
                                            <dt>Kategori</dt>
                                            <dd><%= shopdata.Kategori %></dd>
                                            <dt>Kaydolma Tarihi</dt>
                                            <dd>05.04.2017</dd>
                                            <dt>Adres</dt>
                                            <dd><%= shopdata.Adres %></dd>
                                            <dt>İletişim Bilgileri</dt>
                                            <dd><%= shopdata.IletisimBilgileri %></dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-8">
                                        <h2>Lokasyon</h2>
                                        <div class="map height-300px" id="map-small"></div>
                                    </div>
                                </div>
                            </section>
                            <!--end Details and Locations-->
                            <!--Features-->
                            <!--end Features-->
                            <!--Author-->
                            <section>
                                <h2>Yorum Yaz</h2>
                                <form class="form">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="subject" class="col-form-label">Konu</label>
                                                <input name="subject" type="text" class="form-control" id="subject" placeholder="Did you like a deal?">
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-8-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="rating" class="col-form-label">Değerlendirme</label>
                                                <select name="rating" id="rating" data-placeholder="Select Rating">
                                                    <option value="">Değerlendir</option>
                                                    <option value="1" data-option-stars="1">Kötü</option>
                                                    <option value="2" data-option-stars="2">Ortalama</option>
                                                    <option value="3" data-option-stars="3">İyi</option>
                                                    <option value="4" data-option-stars="4">Çok iyi</option>
                                                    <option value="5" data-option-stars="5">Mükemmel</option>
                                                </select>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-4-->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="review" class="col-form-label">Yorumun</label>
                                                <textarea name="review" id="review" class="form-control" rows="4" placeholder="Good seller, I am satisfied."></textarea>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-12-->
                                    </div>
                                    <!--end row-->
                                </form>
                                <!--end form-->
                            </section>
                            <section>
                                <h2>Reviews</h2>
                                <div class="comments">
                                    <div class="comment">
                                        <div class="author">
                                            <a href="#" class="author-image">
                                                <div class="background-image">
                                                    <img src="/userstatic/assets/img/author-09.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="author-description">
                                                <h3>Positive experience!</h3>
                                                <div class="meta">
                                                    <span class="rating" data-rating="4"></span>
                                                    <span>02.05.2017</span>
                                                    <h5><a href="#">Jane Doe</a></h5>
                                                </div>
                                                <!--end meta-->
                                                <p>
                                                    Nam pulvinar tortor nec lacinia efficitur. Integer erat tortor, ultricies
                                                    ut est vel, euismod imperdiet lacus. Aenean nec turpis condimentum, mollis
                                                    mauris id, scelerisque quam.
                                                </p>
                                            </div>
                                            <!--end author-description-->
                                        </div>
                                        <!--end author-->
                                    </div>
                                    <!--end comment-->

                                    <div class="comment">
                                        <div class="author">
                                            <a href="#" class="author-image">
                                                <div class="background-image">
                                                    <img src="/userstatic/assets/img/author-05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="author-description">
                                                <h3>Perfect seller. I am satisfied.</h3>
                                                <div class="meta">
                                                    <span class="rating" data-rating="5"></span>
                                                    <span>02.05.2017</span>
                                                    <h5><a href="#">John Doe</a></h5>
                                                </div>
                                                <!--end meta-->
                                                <p>
                                                    Integer erat tortor, ultricies ut est vel, euismod imperdiet lacus.
                                                    Aenean nec turpis condimentum, mollis mauris id, scelerisque quam.
                                                </p>
                                            </div>
                                            <!--end author-description-->
                                        </div>
                                        <!--end author-->
                                    </div>
                                    <!--end comment-->

                                    <div class="comment">
                                        <div class="author">
                                            <a href="#" class="author-image">
                                                <div class="background-image">
                                                    <img src="/userstatic/assets/img/author-04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="author-description">
                                                <h3>Quick dispatch and good communication</h3>
                                                <div class="meta">
                                                    <span class="rating" data-rating="3"></span>
                                                    <span>02.05.2017</span>
                                                    <h5><a href="#">Susan Jefferson</a></h5>
                                                </div>
                                                <!--end meta-->
                                                <p>
                                                    Cras luctus aliquet fringilla. In eu cursus nunc. Quisque dolor leo,
                                                    vehicula a sem ut, aliquam pretium tellus. Morbi ut mi eleifend,
                                                    sollicitudin nisl in, elementum nisi. Praesent sed libero euismod,
                                                    pellentesque risus sit amet, faucibus lorem. Pellentesque bibendum
                                                    libero sed tempor tristique.
                                                </p>
                                            </div>
                                            <!--end author-description-->
                                        </div>
                                        <!--end author-->
                                    </div>
                                    <!--end comment-->
                                </div>
                                <!--end comment-->
                                <div class="center">
                                    <a href="#" class="btn btn-primary btn-rounded btn-framed">Load More</a>
                                </div>
                            </section>
                            <!--End Author-->
                        </div>
                        <!--============ End Listing Detail =========================================================-->
                        <!--============ Sidebar ====================================================================-->
                        <div class="col-md-3">
                            <aside class="sidebar">
                                <section>
                                    <h2>İşletmeler</h2>
                                    <div class="items compact">
                                        <% for (let index = 0; index < 4 && index < shopdataList.length; index++) { %>
                                            <div class="item">
                                                <div class="wrapper">
                                                    <div class="image">
                                                        <h3>
                                                            <a class="tag category"><%= shopdataList[index].Kategori %></a>
                                                            <a href="/user/shop-detail-page/<%= shopdataList[index].slug %>" class="title"><%= shopdataList[index].IsletmeAdi %></a>
                                                        </h3>
                                                        <a href="single-listing-1.html" class="image-wrapper background-image">
                                                            <img src="/<%= shopdataList[index].resimler[0].dosyaYolu.replace(/\\/g, '/') %>" alt="">
                                                        </a>
                                                    </div>
                                                    <!--end image-->
                                                    <h4 class="location">
                                                        <a ><%= shopdataList[index].Adres %></a>
                                                    </h4>
                                                    
                                                    <div class="meta">
                                                        <figure>
                                                            <i class="fa fa-calendar-o"></i><%= shopdataList[index].olusturmaTarihi %>
                                                        </figure>
                                                        <figure>
                                                            <a>
                                                                <i class="fa fa-user"></i><%= shopdataList[index].IletisimBilgileri %>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <!--end meta-->
                                                    
                                                </div>
                                            </div>
                                            <% } %>
                                        <!--end item-->                                                                             
                                    </div>

                                </section>
                            </aside>
                        </div>
                        <!--============ End Sidebar ================================================================-->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
        <!--end content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <%- include('../user-partials/footer') %>
        <!--end footer-->
    </div>
    <!--end page-->
    
    <%- include('../user-partials/script') %>

    <script>
        var latitude = 51.511971;
        var longitude = -0.137597;
        var markerImage = "/userstatic/assets/img/map-marker.png";
        var mapTheme = "light";
        var mapElement = "map-small";
        simpleMap(latitude, longitude, markerImage, mapTheme, mapElement);
    </script>

</body>
</html>
